<ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
</ul>
<h1>About</h1>
<img src="http://s3.postimg.org/d9oz39yxf/10535729_10202298027719398_3683480708589251226_o.jpg" width="200px">
<p>I am pursueing a BS in Information and minoring in Museum Studies at the University of Michigan. I am interested in user-experience design and love all things art related. At school I am member of student orgs relating to digital media, marketing, and the school newspaper. I have two older sisters who have graduated college and are now traveling/working, as well as two dogs that live at home with my parents!<p>