<ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
</ul>
<h1>Contact</h1>
<ul>
      <li><a href="https://www.facebook.com/julianne.walkiewicz">Facebook</a></li>
      <li><a href="http://www.linkedin.com/profile/view?id=331575679&trk=nav_responsive_tab_profile_pic">LinkedIn</a></li>
      <li>Email: jwalkk@umich.edu</li>
      <li>Physical Address: 2861 Vineyards Dr, Troy, MI</a></li>
</ul>