<h1>Julianne Walkiewicz</h1>
<ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
</ul>
<img src="http://s3.postimg.org/d9oz39yxf/10535729_10202298027719398_3683480708589251226_o.jpg" width="75px">
<p>Hi! My name is Julianne, I'm 19 years old and am from Troy, Michigan.</p>
<a href="/about">More...</a>