<style>
body {
	text-align: center;
	font-family: basic title font;
	font-size: 22pt;
	color: white;
	background: url("http://www.junkmail.co.za/blog/wp-content/uploads/2014/12/Cape-Town-Holiday-Accomodation.jpg");
	background-size: cover;
}
div {
	font-family: Oswald;
	font-variant: Light;
	font-size: 16pt;
	margin-top: 250pt;
	background: rgba(200, 200, 200, .7);
}
a:link {
	color: rgba(255,255,255, 1);
	text-decoration: none;
}
a:visited {
	color: rgba(255,255,255, 1);
	text-decoration: none;
}
a:hover {
	color: rgba(255,255,255, 0.3);
}

</style>
<body>
<h1>Best Restaurants in Cape Town</h1>
<p>Check out some of the best restaurants in the mother city!</p>
<div>
<%= link_to 'RESTAURANT LIST', 'restaurants' %>
</div>
</body>