<style>
body {
	text-align: center;
	font-family: Oswald;
}
</style>
<body>
	<h1><%= @restaurant %></h1>
	<p>Neighborhood: <%= @area %></p>
	<img src="<%= @img %>" width = "400"><br> 
	<%= link_to 'Back', restaurants_path %>
</body>